@model NextFib.Models.FibViewModel
@{    
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fibonacci by Binet</h1>
    <p class="lead">Hopefully we know fib numbers: 1, 1, 2, 3, 5, 8...<br/>How do we get the nth item in a sequence? Binet:</p>
    <p><img src="~/Content/bidet.png" /></p>
    <p><a href="http://mathworld.wolfram.com/BinetsFibonacciNumberFormula.html" class="btn btn-primary btn-lg">Learn more about Binet</a></p>
</div>

<div class="row">
    <div class="col-md-4">        
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "" }))
        { 
        <p>
            @Html.EditorForModel()
        </p>
            <p><input type="submit"/></p>            
        }
    </div>
    <div class="col-md-4">
        <h2>Result for @Html.DisplayTextFor(x => x.SequenceNumber)</h2>
        <p>
            @Html.DisplayFor(x => x.FibNumber)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Source & Blog</h2>
        <p>This website serves as source for this [blog].</p>
        <p>All source code in github, here: </p>        
    </div>
</div>