@model NextFib.Models.FibViewModel
@{    
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fibonacci by Binet</h1>
    <p class="lead">Hopefully we know fib numbers: 1, 1, 2, 3, 5, 8...<br/>How do we get the nth item in a sequence? A French mathematician <strong>Jacques Philippe Marie Binet</strong> came up with a formula involving the golden ratio and square root of 5</p>
    <p><img src="~/Content/bidet.png" /></p>
    <p><a href="https://en.wikipedia.org/wiki/Jacques_Philippe_Marie_Binet" class="btn btn-primary btn-lg">Learn more about Binet</a></p>
</div>

<div class="row">
    <div class="col-md-4">        
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "" }))
        { 
        <p>
            @Html.EditorForModel()
        </p>
            <p><input type="submit"/></p>            
        }
    </div>
    <div class="col-md-4">
        <h2>Result for @Html.DisplayTextFor(x => x.SequenceNumber)</h2>
        <p>
            @Html.DisplayFor(x => x.FibNumber)
        </p>
    </div>
    <div class="col-md-4">
        <h2>Source &amp; Blog</h2>
        <p>This website features in my <a href="http://paulthecyclist.com">blog</a></p>
        <p>All source code for this website is here <a href="https://github.com/paulthecyclist/binet">github</a></p>        
    </div>
</div>